{{#if resume.interests.length}}
    <div id='interests' class="resume__section-block">
        <div class='resume__section-content'>
            <span class="resume__uppercase">INTERESTS</span>
            <hr/>
            {{#each resume.interests}}
                <span class=''>{{name}}</span>
                <!--
                    {{#if keywords.length}}
                    --><span class='keywords'> <em>[
                            {{#each keywords}}
                                {{.}}
                                <!--
                                -->{{#unless @last}}, {{/unless}}
                            {{/each}}
                            ]
                </em></span>
                <!--
                {{/if}}
                -->{{#unless @last}}<span>, </span>{{/unless}}
            {{/each}}
        </div>
    </div>
{{/if}}
