{{#if resume.languages.length}}
<div id='languages' class="resume__section-block">
	<div class='resume__section-content'>
		<span class="resume__bold resume__uppercase">{{i18n "languages"}}</span>
        <hr/>
		{{#each resume.languages}}
		<span class='language'>{{language}}</span>
		{{#if fluency}}
		<span class='fluency'><em>({{fluency}})</em></span>
		{{/if}}
		{{#unless @last}}<span>,</span>{{/unless}}
		{{/each}}
	</div>
</div>
{{/if}}
