body {
    background: #fff;
    font: 13px -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    line-height: 1.4;
    margin: 40px 0;
    color: #0B060E;
}

em {
    color: #999;
}

p {
    line-height: 1.4;
}

ul {
    margin-bottom: 0;
}

li {
    margin-bottom: 2px;
}

a {
    text-decoration: none;
    color: #0B060E;
}

#resume {
    margin: 0 auto;
    max-width: 40rem;
    padding: 5rem 6rem;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px #aaa;
    -webkit-box-shadow: 2px 2px 4px #aaa;
}

.name__profile-image {
    max-width: 6rem;
    float: left;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 50%;
}

.resume__large-font {
    font-size: 1.6rem;
}

.resume__uppercase {
    text-transform: uppercase;
    font-weight: bold;
}

.resume__margin-bottom {
    margin-bottom: 0.5rem;
}

.coursesList {
    width: 28%;
    vertical-align: top;
    display: inline-block;
}

.largeFont {
    font-size: 20px;
}

.smallFont {
    font-size: 13px;
}

.resume__section-block {
    display: flex;
    with: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    page-break-inside: avoid;
}

.sectionBlock {
    display: flex;
    width: 100%;
    
}

.resume__section-content {
    vertical-align: top;
    display: inline-block;
    text-align: justify;
    width: 100%;
    page-break-inside: avoid;
}

.sectionContent {
    vertical-align: top;
    display: inline-block;
}

.sectionContent ul {
    padding-left: 20px;
    margin-top: 6px;
    list-style-type: circle;
}

.resume__bold {
    font-weight: bold;
}

.resume__date {
    float: right;
}

.sectionContent .separator {
    height: 14px;
}

.sectionLine {
    border-style: dashed;
    border-width: 1px;
    border-color: #CFCFCF;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divider {
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.summary {
    margin-top: 6px;
    text-align: justify;
}

.skillBlock {
    margin-bottom: 4px;
}

.resume__jobblock {
    margin-top: 1rem;
    page-break-inside: avoid;
}

.description {
    text-align: justify;
}

blockquote.reference {
    margin: 0;
    margin-bottom: 1em;
}


/* Media Queries */

@media only screen and (max-width: 40em) {
    body {
        margin: 0;
        font-size: 14px;
    }
    #resume {
        margin: 0 auto;
        max-width: 600px;
        padding: 0.5em 1em;
        border: none;
    }
    .sectionBlock {
        flex-direction: column;
    }
    .sectionContent {
        width: 100%;
    }
    .sectionContent .date {
        padding-right: 2em;
    }
    .sectionName {
        width: auto;
    }
    .largeFont {
        font-size: 20px;
    }
    .smallFont {
        font-size: 14px;
    }
}

@media print {
    #resume {
        margin: 0 auto;
        max-width: 600px;
        padding: 0px 0px;
        border: 0px;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    a {
        color: black;
    }
}
